---
 {# Triggers list
APP STATUS:
  systemd_unit (check systemd activity)
  restarts_counter(num of restarts 20 min)
  restarts_counter(num of restarts 10 min)
  restarts_counter(single restart)
APP CPU:
  High CPU usage
APP Memory:
  rss_usage_anomaly (normal_usage * 1.3 and > 50 Mb diff (10 mins))
  RSSusage (normal_usage * 2)
  HeapMemoryUsage (jms usage in % >91 avg 10 min)

General:
  Configuration changed
  NoData (no metrics)
  #}

moira_triggers:

#APP STATUS:

{% for service in services %}
{% for app in service.apps %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.systemd_unit"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Stop"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    targets:
      - "aliasSub(removeBelowValue(multiplySeriesLists(aliasByTags(groupByTags(seriesByTag('Node={{ node }}','Metrics_type=app', 'app={{ app.name }}', 'name=app_systemd.active_code'), 'max', 'Node', 'app'), 'Node'), offset(scale(movingMax(aliasByTags(groupByTags(changed(seriesByTag('Node={{ node }}','Metrics_type=app', 'app={{app.name}}', 'name=app_systemd.active_code')), 'max', 'Node', 'app'), 'Node'), '30min'), 2), -1)), 0), '(.*)','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1.{{ app.name }}.systemd_unit.state')"
    expression: "t1 != 1 && t1 !=0 ? ERROR :( t1 == 1 ? WARN: OK)"
    tags:{% if not app.app_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_service_tag+ moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Systemd unit error.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Application's systemd unit is not active. Offline of the service.
      Description: Systemd unit state is not Active(0). State enums: active(0), reloading(1), inactive(2), failed(3), activating(4), deactivating(5).
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.restarts_counter"
    name: "{{ service.name}}.{{ node }}.{{ app.name }}: Restarts counter"
    targets:
      - "aliasSub(movingSum(aliasSub(aliasByTags(changed(seriesByTag('Node={{ node }}','name=procstat.pid', 'Metrics_type=app', 'app={{ app.name }}')),'Node'),'(.*)','&\\1&'),'20min'),'.*\\&(.*)\\&.*','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1.{{ app.name }}.Restart_counter_20min')"
    expression: "t1 >=5 ? ERROR : (t1 >= 2 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.app_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_event_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Restarts counter threshold

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Probably, {{ app.name }} has been restarted - at the command of the administrator or by a critical error in the application. A short offline of the service.
      Description: Current Process ID of application not equal to previous one. ERROR means 3 or more restarts during 30 min.
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.restarts_counter"
    name: "{{ service.name}}.{{ node }}.{{ app.name }}: Restarts counter"
    targets:
      - "aliasSub(movingSum(aliasSub(aliasByTags(changed(seriesByTag('Node={{ node }}','name=procstat.pid', 'Metrics_type=app', 'app={{ app.name }}')),'Node'),'(.*)','&\\1&'),'10min'),'.*\\&(.*)\\&.*','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1.{{ app.name }}.restart_counter_10min')"
    expression: "t1 >=5 ? ERROR : (t1 >= 2 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.app_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_event_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Restarts counter threshold

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Several restarts of the application during 10 min. May lead to full offline of the service.
      Description: Current Process ID of application not equal to previous one. ERROR means 3 or more restarts during 30 min.
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.restart"
    name: "{{ service.name}}.{{ node }}.{{ app.name }}: Restart"
    targets:
      - "aliasSub(aliasByTags(changed(seriesByTag('Node={{ node }}','name=procstat.pid', 'Metrics_type=app', 'app={{ app.name }}'),'{{ node }}'),'Node'),'(.*)','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1.{{ app.name }}.Restart')"
    expression: "t1 != 0 ? WARN : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.app_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_event_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Restart

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Application has been restarted - at the command of the administrator or by a critical error in the application. A short offline of the service.
      Description: Current Process ID of the application is not equal to previous one.
    state: {{ state }}

{% endfor %} # node
{% endfor %} # app
{% endfor %}  # service

## APP CPU:

{% for service in services %}
{% for app in service.apps %}
{% for node in app.nodes %}


  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.CPUusage"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: CPU Usage"
    targets:
      - "alias(movingMedian(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'name=procstat.cpu_usage', 'Node={{ node }}'), '15min'),'{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}{{ node }}.{{ app.name }}.cpu_usage_percent')"
      - "movingMax(divideSeries(derivative(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'name=procstat.cpu_usage', 'Node={{ node }}')), scale(stdev(derivative(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'name=procstat.cpu_usage', 'Node={{ node }}')), 100, 0.1), 3)),'15min')"
{% if app.cpu.warn_cpu_usage is defined and app.cpu.err_cpu_usage is defined %}
    expression: "t1>{{app.cpu.err_cpu_usage}} && t2 >=1 ? ERROR : (t1>{{app.cpu.warn_cpu_usage}} && t2 >= 1 ? WARN : OK)"
{% else %}
    expression: "t1>{{app.normal_cpu_usage}}*2 && t2 >=1 ? ERROR : (t1>{{app.normal_cpu_usage}}*1.5 && t2 >= 1 ? WARN : OK)"
{% endif %}
    ttl_state: {{ moira_general_ttl_state }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: High CPU Usage.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}.
      Impact: A high load on the CPU can mean errors in  the application, or bursts of incoming load.
{% if app.cpu.warn_cpu_usage is defined and app.cpu.err_cpu_usage is defined %}
      Description: derivative(cpu_usage) > stdev(cpu_usage)*3 and threshold ({{app.cpu.warn_cpu_usage}}) is exceeded.
{% else %}
      Description: derivative(cpu_usage) > stdev(cpu_usage)*3 and threshold ({{app.normal_cpu_usage*2}}) is exceeded.
{% endif %}
    state: {{ state }}

{% endfor %} # nodes
{% endfor %} # apps
{% endfor %} # service

## APP Memory

{% for service in services %}
{% for app in service.apps %}
{% if app.memory is defined %}


      ## Not-java apps - RSS
{% if app.memory.jvm_heap|default(false) == false %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.rss_usage_anomaly"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: RSS Usage Increasing"
    targets:
      - "alias(movingMedian(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'name=procstat.memory_rss', 'Node={{ node }}'), '10min'), '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}{{node}}.{{app.name}}.memory_rss_bytes')"
      - "offsetToZero(linearRegression(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'name=procstat.memory_rss', 'Node={{ node }}')))"
{% if app.memory.warn_rss_usage_mb is defined and app.memory.err_rss_usage_mb is defined %}
    expression: "(t1/1024)/1024>{{ app.memory.err_rss_usage_mb }} && t2 >=60000000 ? ERROR : ((t1/1024)/1024>{{ app.memory.warn_rss_usage_mb }} &&t2 >= 50000000 ? WARN : OK)"
{% else %}
    expression: "(t1/1024)/1024>{{ app.memory.normal_rss_usage_mb }}*1.5 && t2 >=60000000 ? ERROR : ((t1/1024)/1024>{{ app.memory.normal_rss_usage_mb }}*1.3 &&t2 >= 50000000 ? WARN : OK)"
{% endif %}
    ttl: {{ moira_general_ttl }}
    ttl_state: {{ moira_general_ttl_state }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Memory Usage Increasing.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Increased value of the RSS usage can mean errors in the application (memory leak), or bursts of incoming load and may lead to OOM errors.
      Description: Linear regression of RSS usage has been increased during the last hour for 50Mb.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.RSSusage"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: RSS Usage"
    targets:
      - "alias(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'name=procstat.memory_rss', 'Node={{ node }}'), '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}{{node}}.{{app.name}}.memory_rss_bytes')"
{% if app.memory.warn_rss_usage_mb is defined and app.memory.err_rss_usage_mb is defined %}
    expression: "(t1/1024)/1024 >= {{  app.memory.err_rss_usage_mb }} ? ERROR : ((t1/1024)/1024 >= {{  app.memory.warn_rss_usage_mb }} ? WARN : OK)"
{% else %}
    expression: "(t1/1024)/1024 >= {{  app.memory.normal_rss_usage_mb }}*3 ? ERROR : ((t1/1024)/1024 >= {{  app.memory.normal_rss_usage_mb }}*2 ? WARN : OK)"
{% endif %}
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: High Memory Usage.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: A high value if RSS usage can mean errors in  the application (memory leak), or bursts of traffic from the network and may lead to OOM errors.
{% if app.memory.warn_rss_usage_mb is defined and app.memory.err_rss_usage_mb is defined %}
      Description: Current value of RSS usage is exceeded the threshold ({{ app.memory.warn_rss_usage_mb }}Mb WARN, {{ app.memory.err_rss_usage_mb }}Mb ERROR).
{% else %}
      Description: Current value of RSS usage is exceeded the threshold ({{ app.memory.normal_rss_usage_mb*2 }}Mb WARN, {{ app.memory.normal_rss_usage_mb*3 }}Mb ERROR).
{% endif %}

    state: {{ state }}

{% endfor %} # node

      ### Java app - Heap usage

{% else %}

{% for node in app.nodes %}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.HeapMemoryUsage"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Heap Memory Usage"
    targets:
      - "aliasSub(aliasByMetric(scale(divideSeriesLists(sortByName(aliasByTags(movingMedian(groupByTags(seriesByTag('Node={{ node }}','Metrics_type=jmx', 'name=java_memory.HeapMemoryUsage.used', 'app={{ app.name }}'), 'max', 'name', 'Node', 'app'),'10min'), 'Node')), sortByName(aliasByTags(groupByTags(seriesByTag('Node={{ node }}','Metrics_type=jmx', 'name=java_memory.HeapMemoryUsage.max', 'app={{ app.name }}'), 'max', 'name', 'Node', 'app'), 'Node'))), 100)),'(.*)','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1.{{app.name}}.jmx_usage_percent')"
    expression: "t1 >={{ app.memory.jvm_heap_err }} ? ERROR : (t1 >= {{ app.memory.jvm_heap_warn }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag+ moira_chart_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Heap usage is near to the max value.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: High heap usage may lead to OOM errors.
      Description: Heap is used for more than {{ app.memory.jvm_heap_warn }}%.
    state: {{ state }}
{% endfor %}

{% endif %}
{% endif %}
{% endfor %}
{% endfor %}


# configuration changed

{% for service in services %}
{% for app in service.apps %}
{% if config_change is defined and config_change%}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.config_change"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Config Change"
    targets:
      - "aliasSub(aliasByTags(groupByTags(changed(seriesByTag('Node={{ node }}','Metrics_type=app', 'app={{ app.name }}', 'name=filestat.modification_time')),'max','Node','app','file'),'Node','app','file'),'Node', 'CA'),'5min'),  '(.*)', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1')"
    expression: "t1 != 0 ? WARN : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.sigtran.flap_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_event_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_sigtran_tag + moira_event_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Config change

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Changing the working configuration of the application.
      Description: Modification time of configuration file has been changed.
    state: {{ state }}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
