---

moira_triggers:

{% for service in services %}
{% for app in service.apps %}
{% if app.clickhouse is defined %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.Query"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Total queries threshold"
    targets:
      - "alias(movingMax(seriesByTag('Node={{ node }}', 'name=clickhouse_metrics.query'),'5min'), '{{ node }}.Clickhouse.TotalQueries')"
    expression: "t1 >= {{ app.clickhouse.total_queries*2 }}  ? ERROR : (t1 >= {{ app.clickhouse.total_queries }}  ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag) | to_json}}
    desc: |
      Service: {{service.name}}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Clickhouse total queries threshold.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: Huge amount of concurrent queries can lead to degradation and slowdown of service.
      Description: Value of total queries has been exceeded the threshold. Error: {{ app.clickhouse.total_queries*2 }} b, warninig: {{ app.clickhouse.total_queries }}.
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.Connections"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Max Connections threshold"
    targets:
      - "alias(movingMax(seriesByTag('Node={{ node }}', 'name=clickhouse_metrics.http_connection'),'5min'), '{{ node }}.Clickhouse.current_connections')"
    expression: "t1 >= {{ app.clickhouse.max_Connections*2 }} ? ERROR : (t1 >= {{ app.clickhouse.max_Connections }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{service.name}}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Clickhouse connections threshold.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: An increase of the number of connections can indicate that the application is not working correctly, which can lead to degradation of the service.
      Description: Value current connections has been exceeded the threshold. Error: {{ app.clickhouse.max_Connections*2 }}, warninig: {{ app.clickhouse.max_Connections }}.
    state: {{ state }}


{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
