---

moira_triggers:


{% if services  is defined %}
{% for service in services %}
{% for app in service.apps %}
{% if app.metrics is defined %}
{% for metric in app.metrics %}
{% for trigger in metric.triggers %}
{% if trigger.group in ['min','max','sum','total','average', 'median', 'diff', 'stddev', 'count', 'range', 'multiply', 'last'] %}

  - id: "{{ service.name }}.{{ app.name }}.{{ metric.name }}.{{ trigger.group }}"
    name: "{{ service.name }}.{{ app.name }}: {{ metric.name }} {{ trigger.group }}"
    targets:
      - "aliasSub({{ trigger.moving_function | default('movingMedian') }}( aliasSub(aliasByTags(groupByTags( grep(seriesByTag('app={{ app.name }}', '{{ ( metric.target_keys | default([]) ) | join('\', \'')}}'), '{{ app.nodes|join('|')}}'), '{{ trigger.group }}', 'app' {% if trigger.per_node|default(false) == true %},'Node'{% endif %}) {% if trigger.per_node|default(false) == true %},'Node'{% endif %},'app'),'(.*)','&\\1&'), '{{ trigger.interval }}'), '.*\\&(.*)\\&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}{% if trigger.per_node|default(false) == false %}.{% endif %}\\1.{{ metric.name }}.{{ trigger.group }}.{{ trigger.interval }}')"
    expression: "{% if trigger.error is defined %} t1 <= {{ trigger.error.min|default('-99999999') }} || t1 >= {{ trigger.error.max|default('99999999') }} ? ERROR : {% if trigger.warn is defined %}   ( t1 <= {{ trigger.warn.min|default('-9999999') }} || t1 >= {{ trigger.warn.max|default('999999999') }} ? WARN : OK ) {% else %}:OK {% endif %} {% else %} {% if trigger.warn is defined %} t1 <= {{ trigger.warn.min|default('-9999999') }} || t1 >= {{ trigger.warn.max|default('999999999') }} ? WARN : OK {% else %} OK {% endif %}{% endif %}"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not metric.critical %} {{ (moira_service_tag + [service.name] + moira_chart_tag + moira_base_tag) | to_json}} {% else %} {{ ( moira_service_tag +[service.name] + moira_chart_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Application: {{app.name}}.

      Event: {{ metric.name }} count threshold exceeded.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: {{ metric.impact | default('Undefined') }}.
      Description: Value of count({{ metric.name }}) for last {{ trigger.interval }} exceeded the threshold {% if trigger.warn is defined %} ( WARN min={{ trigger.warn.min|default('-') }} max={{ trigger.warn.max|default('+') }} ) {% endif %}{% if trigger.error is defined %} ( ERROR min={{ trigger.error.min | default('-') }} max={{ trigger.error.max | default('+') }} ) {% endif %}.
    state: {{ state }}

{% elif trigger.group == 'percent' %}
{% if trigger.per_node|default(false) == false %}

  - id: "{{ service.name }}.{{ app.name }}.{{ metric.name }}.percent"
    name: "{{ service.name }}.{{ app.name }}: {{ metric.name }} percent"
    targets:
      - "alias(removeBelowValue(scale(divideSeries(sumSeries(transformNull(grep(movingSum(seriesByTag('app={{ app.name }}', '{{ ( metric.target_keys | default([]) ) | join('\', \'')}}'), '{{ trigger.interval }}'), '{{ app.nodes|join('|')}}'), 0)),transformNull(sumSeries(grep(movingSum(seriesByTag('app={{ app.name }}', '{{ ( metric.total_keys | default([]) ) | join('\', \'')}}'), '{{ trigger.interval }}'), '{{ app.nodes|join('|')}}') ),0) ) ,100) ,0), '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}.{{ app.name }}.{{ metric.name }}.percent')"
    expression: "{% if trigger.error is defined %} t1 <= {{ trigger.error.min|default('-999999999') }} || t1 >= {{ trigger.error.max|default('999999999') }} ? ERROR : {% if trigger.warn is defined %}   ( t1 <= {{ trigger.warn.min|default('-9999999') }} || t1 >= {{ trigger.warn.max|default('999999999') }} ? WARN : OK ) {% else %}:OK {% endif %} {% else %} {% if trigger.warn is defined %} t1 <= {{ trigger.warn.min|default('-9999999') }} || t1 >= {{ trigger.warn.max|default('999999999') }} ? WARN : OK {% else %} OK {% endif %}{% endif %}"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not metric.critical %} {{ (moira_service_tag + [service.name] + moira_chart_tag + moira_base_tag) | to_json}} {% else %} {{ ( moira_service_tag +[service.name] + moira_chart_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Application: {{app.name}}.

      Event: {{ metric.name }} percent threshold exceeded.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: {{ metric.impact| default('Undefined') }}.
      Description: Value of percent({{ metric.name }}) of total for last {{ trigger.interval }} exceeded the threshold {% if trigger.warn is defined %} ( WARN min={{ trigger.warn.min|default('-') }} max={{ trigger.warn.max|default('+') }} ) {% endif %}{% if trigger.error is defined %} ( ERROR min={{ trigger.error.min | default('-') }} max={{ trigger.error.max | default('+') }} ) {% endif %}.
    state: {{ state }}

{% else %}
{% for node in app.nodes %}
  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.{{ metric.name }}.percent"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: {{ metric.name }} percent"
    targets:
      - "alias(removeBelowValue(scale(divideSeries(sumSeries(transformNull(movingSum(seriesByTag('app={{ app.name }}', 'Node={{ node }}', '{{ ( metric.target_keys | default([]) ) | join('\', \'')}}'), '{{ trigger.interval }}'), 0)), transformNull(sumSeries(movingSum(seriesByTag('app={{ app.name }}','Node={{ node }}', '{{ ( metric.total_keys | default([]) ) | join('\', \'')}}'), '{{ trigger.interval }}')),0)),100), 0), '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}{{ node }}.{{ app.name }}.{{ metric.name }}.percent')"
    expression: "{% if trigger.error is defined %} t1 <= {{ trigger.error.min|default('-999999999') }} || t1 >= {{ trigger.error.max|default('999999999') }} ? ERROR : {% if trigger.warn is defined %}   ( t1 <= {{ trigger.warn.min|default('-9999999') }} || t1 >= {{ trigger.warn.max|default('999999999') }} ? WARN : OK ) {% else %}:OK {% endif %} {% else %} {% if trigger.warn is defined %} t1 <= {{ trigger.warn.min|default('-9999999') }} || t1 >= {{ trigger.warn.max|default('999999999') }} ? WARN : OK {% else %} OK {% endif %}{% endif %}"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not metric.critical %} {{ (moira_service_tag + [service.name] + moira_chart_tag + moira_base_tag) | to_json}} {% else %} {{ ( moira_service_tag +[service.name] + moira_chart_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}
      Application: {{ app.name }}.

      Event: {{ metric.name }} percent threshold exceeded.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: {{ metric.impact| default('Undefined') }}.
      Description: Value of percent({{ metric.name }}) of total for last {{ trigger.interval }} on {{ node }} exceeded the threshold {% if trigger.warn is defined %} ( WARN min={{ trigger.warn.min|default('-') }} max={{ trigger.warn.max|default('+') }} ) {% endif %}{% if trigger.error is defined %} ( ERROR min={{ trigger.error.min | default('-') }} max={{ trigger.error.max | default('+') }} ) {% endif %}.
    state: {{ state }}

{% endfor %}
{% endif %}

{% elif trigger.group == 'anomaly' %}
{% if trigger.per_node|default(false) == false %}

  - id: "{{ service.name }}.{{ app.name }}.{{ metric.name }}.anomaly"
    name: "{{ service.name }}.{{ app.name }}: {{ metric.name }} anomaly"
    targets:
      - "alias(divideSeries(integral(derivative(averageSeries({{ trigger.moving_function | default('movingMedian') }}(transformNull(grep(seriesByTag('app={{ app.name }}', '{{ ( metric.target_keys | default([]) ) | join('\', \'')}}'), '{{ app.nodes|join('|')}}'), 0), '{{ trigger.interval }}')))), stddev(averageSeries({{ trigger.moving_function | default('movingMedian') }}(transformNull(grep(seriesByTag('app={{ app.name }}', '{{ ( metric.target_keys | default([]) ) | join('\', \'')}}'), '{{ app.nodes|join('|')}}'), 0), '{{ trigger.interval }}')),1000,0.4)),  '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}.{{ app.name }}.{{ metric.name }}.zscore')"
    expression: "{% if trigger.error is defined %} t1 <= {{ trigger.error.min|default('-999999999') }} || t1 >= {{ trigger.error.max|default('999999999') }} ? ERROR : {% if trigger.warn is defined %}   ( t1 <= {{ trigger.warn.min|default('-9999999') }} || t1 >= {{ trigger.warn.max|default('999999999') }} ? WARN : OK ) {% else %}:OK {% endif %} {% else %} {% if trigger.warn is defined %} t1 <= {{ trigger.warn.min|default('-9999999') }} || t1 >= {{ trigger.warn.max|default('999999999') }} ? WARN : OK {% else %} OK {% endif %}{% endif %}"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not metric.critical %} {{ (moira_service_tag + [service.name] + moira_chart_tag + moira_base_tag) | to_json}} {% else %} {{ ( moira_service_tag +[service.name] + moira_chart_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Application: {{app.name}}.

      Event: {{ metric.name }} Anomaly.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: {{ metric.impact| default('Undefined') }}.
      Description: Z-score of {{ metric.name }}  exceeded the threshold {% if trigger.warn is defined %} ( WARN max={{ trigger.warn.max|default('+') }} ) {% endif %}{% if trigger.error is defined %} ( ERROR  max={{ trigger.error.max | default('+') }} ) {% endif %}.
    state: {{ state }}

{% else %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{ node }}{{ app.name }}.{{ metric.name }}.anomaly"
    name: "{{ service.name }}.{{ app.name }}: {{ metric.name }} anomaly"
    targets:
      - "alias(divideSeries(integral(derivative(averageSeries({{ trigger.moving_function | default('movingMedian') }}(transformNull(grep(seriesByTag('app={{ app.name }}', 'Node={{ node }}','{{ ( metric.target_keys | default([]) ) | join('\', \'')}}'), '{{ app.nodes|join('|')}}'), 0), '{{ trigger.interval }}')))), stddev(averageSeries({{ trigger.moving_function | default('movingMedian') }}(transformNull(grep(seriesByTag('app={{ app.name }}','Node={{ node }}', '{{ ( metric.target_keys | default([]) ) | join('\', \'')}}'), '{{ app.nodes|join('|')}}'), 0), '{{ trigger.interval }}')),1000,0.4)),  '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}.{{ app.name }}.{{ metric.name }}.zscore')"
    expression: "{% if trigger.error is defined %} t1 <= {{ trigger.error.min|default('-999999999') }} || t1 >= {{ trigger.error.max|default('999999999') }} ? ERROR : {% if trigger.warn is defined %}   ( t1 <= {{ trigger.warn.min|default('-9999999') }} || t1 >= {{ trigger.warn.max|default('999999999') }} ? WARN : OK ) {% else %}:OK {% endif %} {% else %} {% if trigger.warn is defined %} t1 <= {{ trigger.warn.min|default('-9999999') }} || t1 >= {{ trigger.warn.max|default('999999999') }} ? WARN : OK {% else %} OK {% endif %}{% endif %}"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not metric.critical %} {{ (moira_service_tag + [service.name] + moira_chart_tag + moira_base_tag) | to_json}} {% else %} {{ ( moira_service_tag +[service.name] + moira_chart_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Application: {{app.name}}.
      Node: {{ node }}.

      Event: {{ metric.name }} Anomaly.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: {{ metric.impact| default('Undefined') }}.
      Description: Z-score of {{ metric.name }} on {{node}} is exceeded the threshold {% if trigger.warn is defined %} ( WARN max={{ trigger.warn.max|default('+') }} ) {% endif %}{% if trigger.error is defined %} ( ERROR  max={{ trigger.error.max | default('+') }} ) {% endif %}.
    state: {{ state }}

{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% if metric.check_nodata|default(false) == true %}
  - id: "{{ service.name }}.{{ app.name }}.{{ metric.name }}.NoData"
    name: "{{ service.name }}.{{ app.name }}: {{ metric.name }} NoData"
    targets:
      - "countSeries(seriesByTag('app={{ app.name }}', {% if metric.total_keys is defined %} '{{ ( metric.total_keys | default([]) ) | join('\', \'')}}' {% else %}'{{ ( metric.target_keys | default([]) ) | join('\', \'')}}'{% endif %}))"
    expression: "OK"
    ttl_state: {{ moira_nodata_ttl_state }}
    ttl: {{ moira_nodata_ttl }}
    tags: {{ moira_monitoring_tag | to_json }}
    desc: |
      Service: {{ service.name }}.
      Application: {{app.name}}.
      Event: {{ metric.name }} No Data.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: Monitoring cannot work without data.
      Description: No Data for metric seriesByTag('app={{ app.name }}', '{{ ( metric.target_keys | default([]) ) | join('\', \'')}}').
    state: {{ state }}
{% endif %}
{% endfor %}
{% endif%}
{% endfor %}
{% endfor %}
{% endif %}
