---
# Triggers list:
#   S1 links:
#     state
#     long
#     flap

{# TODO nice Descriptions #}
{% if not app.s1peer.short_critical | default(false) %}
  {% set short_severity_tag = moira_base_tag %}
{% else %}
  {% set short_severity_tag = moira_critical_tag %}
{% endif %}

{% if not app.s1peer.long_critical | default(false) %}
  {% set long_severity_tag = moira_base_tag %}
{% else %}
  {% set long_severity_tag = moira_critical_tag %}
{% endif %}

{% if not app.s1peer.flap_critical | default(false) %}
  {% set flap_severity_tag = moira_base_tag %}
{% else %}
  {% set flap_severity_tag = moira_critical_tag %}
{% endif %}

moira_triggers:

## s1

{% for service in services %}
{% for app in service.apps %}
{% if app.s1peer is defined %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.S1Peer"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: S1 Peer State"
    targets:
      - "aliasSub(aliasByTags(movingMin(seriesByTag({% if app.s1peer.PLMN_single_filter is defined %}'PLMN={{app.s1peer.PLMN_single_filter}}',{% endif %}'Node={{ node }}', 'name=S1Peers.state', 'app={{ app.name }}'), '1min'), 'TAC', 'PLMN', 'ip'), '^(\\d+)\\.(\\d+)\\.(\\d+.\\d+.\\d+.\\d+)$', 'IP=\\3,TAC=\\1,PLMN=\\2'){% if app.s1peer.alias_list is defined %}{% for alias in app.s1peer.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMin(seriesByTag({% if app.s1peer.PLMN_single_filter is defined %}'PLMN={{app.s1peer.PLMN_single_filter}}',{% endif %}'Node={{ node }}', 'name=S1Peers.state', 'app={{ app.name }}'), '1min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + [node] + moira_s1_tag + moira_service_tag + moira_bool_tag + short_severity_tag ) | to_json  }}
    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: S1 Peer link failed.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a S1 Peer link can lead to full offline of service.
      Description: Failed S1 Peer link of MME on {{ node }}.
        Warn condition: Failure of one or more links.
        Error condition: Failure of all links.
    state: {{ state }}


  - id: "{{ service.name }}.{{node}}.{{ app.name }}.S1PeerLong"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: S1 Peer Long Failure"
    targets:
      - "aliasSub(aliasByTags(movingMax(transformNull(removeBelowValue(seriesByTag({% if app.s1peer.PLMN_single_filter is defined %}'PLMN={{app.s1peer.PLMN_single_filter}}',{% endif %}'Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=S1Peers.state'), 1), 0),'15min'), 'TAC', 'PLMN', 'ip'), '^(\\d+)\\.(\\d+)\\.(\\d+.\\d+.\\d+.\\d+)$', 'IP=\\3,TAC=\\1,PLMN=\\2'){% if app.s1peer.alias_list is defined %}{% for alias in app.s1peer.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMax(transformNull(removeBelowValue(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=S1Peers.state'),1),0),'15min'), 'max', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + [node] + moira_s1_tag + moira_service_tag + moira_bool_tag + short_severity_tag ) | to_json  }}
    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: S1 Peer link long failure.
      Duration: 15min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a S1 Peer link can lead to full offline of service.
      Description: Long-time failed S1 Peer link of {{ app.name }} on {{ node }}.
        Warn condition: Failure of one or more links for 15 minutes.
        Error condition: Failure of all links for 15 minutes.
    state: {{ state }}


  - id: "{{ service.name }}.{{node}}.{{ app.name }}.S1PeerFlap"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: S1 Peer Flap"
    targets:
      - "aliasSub(aliasByTags(movingSum(changed(seriesByTag({% if app.s1peer.PLMN_single_filter is defined %}'PLMN={{app.s1peer.PLMN_single_filter}}',{% endif %}'Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=S1Peers.state')), '5min'), 'TAC', 'PLMN', 'ip'), '^(\\d+)\\.(\\d+)\\.(\\d+.\\d+.\\d+.\\d+)$', 'IP=\\3,TAC=\\1,PLMN=\\2'){% if app.s1peer.alias_list is defined %}{% for alias in app.s1peer.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
    expression: "t1 > 10 ? ERROR : (t1 > 5 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + [node] + moira_s1_tag + moira_service_tag + moira_bool_tag + short_severity_tag ) | to_json  }}
    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: S1 Peer link flaps.
      Duration: 5min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a S1Peer link can lead to full offline of service.
      Description: Multiple S1 Peer link state changes of {{ app.name }} on {{ node }} during last 5 minutes.
        Warn condition: 5 changes total.
        Error condition: 10 changes total.
    state: {{ state }}



{% endfor %} # node
{% endif %} # app.s1peer
{% endfor %} # app
{% endfor %} # service