{#
Mysql:
  Innodb buffer threshold
  Max Connections threshold
  Max Errors threshold
  Max Locks threshold
  Max Slow_queries threshold
  Max row_locks_wait threshold
  Slave SQL status
  Slave IO status
  Slave Seconds Behind Master
  Galera cluster size
  Galera connection state
  Galera is not ready
  Galera cluster status
  Galera transactions errors
  Galera window
  Galera last_commited diff threshold
  Galera different configuration
#}

---

moira_triggers:

{% for service in services %}
{% for app in service.apps %}
{% if app.mysql is defined %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.Innodb"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Innodb buffer threshold"
    targets:
      - "alias(movingMax(seriesByTag('Node={{ node }}', 'name=mysql.innodb_buffer_pool_bytes_data'),'5min'), '{{ node }}.Mysql.Innodb.buffer.bytes')"
    expression: "t1 >= {{ app.mysql.max_InnoDB_mb*1024*1024*2 }}  ? ERROR : (t1 >= {{ app.mysql.max_InnoDB_mb*1024*1024 }}  ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag) | to_json}}
    desc: |
      Service: {{service.name}}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Mysql InnoDB buffer threshold.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: An increase in buffer can lead to degradation and slowdown of service.
      Description: Value of Innodb buffer pool bytes data has been exceeded the threshold. Error: {{ app.mysql.max_InnoDB_mb*1024*1024*2 }} b, warninig: {{ app.mysql.max_InnoDB_mb*1024*1024 }} b.
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.Connections"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Max Connections threshold"
    targets:
      - "alias(movingMax(seriesByTag('Node={{ node }}', 'name=mysql.threads_connected'),'5min'), '{{ node }}.Mysql.thread_connected')"
    expression: "t1 >= {{ app.mysql.max_Connections*2 }} ? ERROR : (t1 >= {{ app.mysql.max_Connections }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{service.name}}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Mysql connections threshold.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: An increase of the number of connections can indicate that the application is not working correctly, which can lead to degradation of the service.
      Description: Value connected threads has been exceeded the threshold. Error: {{ app.mysql.max_Connections*2 }}, warninig: {{ app.mysql.max_Connections }}.
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.errors"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Max Errors threshold"
    targets:
      - "alias(movingSum(nonNegativeDerivative(seriesByTag('Node={{ node }}', 'name=mysql.connection_errors_internal')),'5min'), '{{ node }}.Mysql.Errors.count.5min')"
    expression: "t1 >= {{ app.mysql.max_errors_err }} ? ERROR : (t1 >= {{ app.mysql.max_errors_warn }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{service.name}}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Mysql Errors threshold.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: An increase of the number of MySQL errors can indicate that the application is not working correctly, which can lead to degradation of the service.
      Description: Value of Connection_errors_internal has been exceeded the threshold. Error: {{ app.mysql.max_errors_err }}, warninig: {{ app.mysql.max_errors_warn }}.
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.locks"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Max Locks threshold"
    targets:
      - "alias(movingSum(nonNegativeDerivative(seriesByTag('Node={{ node }}', 'name=mysql.table_locks_waited')),'5min'), '{{ node }}.Mysql.Locks.count.5min')"
    expression: "t1 >= {{ app.mysql.max_locks_err }} ? ERROR : (t1 >= {{ app.mysql.max_locks_warn }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{service.name}}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Mysql Table locks threshold.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: An increase of the number of MySQL tables locks can indicate that the application is not working correctly, which can lead to degradation of the service.
      Description: Value of table locks waited has been exceeded the threshold. Error: {{ app.mysql.max_locks_err }}, warninig: {{ app.mysql.max_locks_warn }}.
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.slow_queries"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Max Slow_queries threshold"
    targets:
      - "alias(transformNull(movingSum(nonNegativeDerivative(seriesByTag('Metrics_type=mysql', 'name=~mysql.slow_queries', 'Node={{ node }}')),'5min'),0),'{{ node }}.Mysql.slow_queries.count.5min')"
    expression: "t1 >= {{ app.mysql.max_slow_err }} ? ERROR : (t1 >= {{ app.mysql.max_slow_warn }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{service.name}}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Mysql Errors threshold.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: An increase of the number of slow queries can indicate that the application is not working correctly, which can lead to degradation of the service.
      Description: Amount of slow queries has been exceeded total threshold during last 5 mins. Error: {{ app.mysql.max_slow_err }}, warninig: {{ app.mysql.max_slow_warn }}.
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.row_locks_wait"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Max row_locks_wait threshold"
    targets:
      - "alias(movingSum(nonNegativeDerivative(seriesByTag('Node={{ node }}', 'name=mysql.innodb_row_lock_waits')),'5min'), '{{ node }}.Mysql.innodb_row_lock_waits.count.5min')"
    expression: "t1 >= {{ app.mysql.row_locks_wait_err }} ? ERROR : (t1 >= {{ app.mysql.row_locks_wait_warn }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{service.name}}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Mysql innodb_row_lock_waits threshold.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: An increase of the number of MySQL innodb_row_lock_waits can indicate that the application is not working correctly, which can lead to degradation of the service.
      Description: Value of innodb_row_lock_waits has been exceeded the threshold. Error: {{ app.mysql.row_locks_wait_err }}, warninig: {{ app.mysql.row_locks_wait_warn }}.
    state: {{ state }}


        {% if app.mysql.replication is defined and app.mysql.replication not in (0,false) %}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.replicationSQL"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Slave SQL status"
    targets:
      - "aliasSub(aliasByTags(removeAboveValue(removeBelowValue(groupByTags(consolidateBy(seriesByTag('Metrics_type=mysql', 'name=mysql.slave_Slave_SQL_Running', 'Node={{ node }}'), 'min'), 'min', 'name', 'Node'), 0), 1),'Node', 'name'), 'mysql.slave_(.*)', '\\1')"
    expression: "t1 < 1 ? ERROR : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{service.name}}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Mysql Slave SQL Replication status changed.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: Broken replication lead to data inconsistency between mysql databases
      Description: Slave_SQL_Running value equals No, replication from master to slave stopped.
    state: {{ state }}


  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.replicationIO"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Slave IO status"
    targets:
      - "aliasSub(aliasByTags(groupByTags(consolidateBy(seriesByTag('Metrics_type=mysql', 'name=mysql.slave_Last_IO_Errno', 'Node={{ node }}'), 'min'), 'min', 'name', 'Node'),'Node', 'name'), 'mysql.slaveIO_(.*)', '\\1')"
    expression: "t1 > 0 ? ERROR : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{service.name}}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Mysql Slave IO Replication error code changed.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: Broken replication lead to data inconsistency between mysql databases
      Description: slave_Last_IO_Errno value not equals 0, replication from master to slave stopped.
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.replication_Slave_Seconds_Behind"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Slave Seconds Behind Master"
    targets:
      - "aliasByTags(groupByTags(seriesByTag('Metrics_type=mysql', 'name=mysql.slave_Seconds_Behind_Master', 'Node= {{ node }}'), 'min', 'name', 'Node'),'Node', 'name')"
    expression: "t1 >= {{ app.mysql.max_slave_behind_err }} ? ERROR : (t1 >= {{ app.mysql.max_slave_behind_warn }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{service.name}}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Mysql "slave seconds behind master" is above the threshold.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: Huge delay in replication can lead to inconsistency in databases.
      Description: slave_Seconds_Behind_Master value above the threshod, replication from master to slave slowness. Error: {{ app.mysql.max_slave_behind_err }}, warninig: {{ app.mysql.max_slave_behind_warn }}.
    state: {{ state }}

        {% endif %}





        {% if app.mysql.galera is defined %}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.galera_size"
    name: "{{ service.name }}.{{ app.name }}: Galera cluster size"
    targets:
      - "alias(movingMin(seriesByTag('Node={{ node }}', 'name=mysql.wsrep_cluster_size'),'2min'), '{{node}}.Galera.cluster_size')"
      - "alias(movingMax(seriesByTag('Node={{ node }}', 'name=mysql.wsrep_cluster_size'),'30min'), '{{node}}.Galera.cluster_size')"
    expression: "t1 <= {{ app.mysql.galera.cluster_size-2 }} || t2 <= {{ app.mysql.galera.cluster_size-1 }} ? ERROR : (t1 <= {{ app.mysql.galera.cluster_size-1 }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_critical_tag) | to_json}}

    desc: |
      Service: {{service.name}}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Mysql Galera cluster size threshold.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: Loss of a cluster member can lead to data inconsistency and service inoperability.
      Description: Value of wsrep_cluster_size is below the threshold. Error: {{ app.mysql.galera.cluster_size-2 }} || {{ app.mysql.galera.cluster_size }} more than 30 min, warninig: {{ app.mysql.galera.cluster_size }}.
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.galera_connected"
    name: "{{ service.name }}.{{ app.name }}: Galera connection state"
    targets:
      - "alias(movingMin(seriesByTag('Node={{ node }}', 'name=mysql.wsrep_connected'),'1min'), '{{ node }}.Mysql.Galera.Disconnected')"
      - "movingMax(seriesByTag('Node={{ node }}', 'name=mysql.wsrep_connected'),'10min')"
    expression: "t2 != {{ app.mysql.galera.connected }} ? ERROR : (t1 != {{ app.mysql.galera.connected }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}}
    desc: |
      Service: {{service.name}}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Mysql Galera cluster connection state.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: Loss of a cluster connection may lead to data inconsistency and service inoperability.
      Description: Value of wsrep_connected is negative. Error: {{ app.mysql.galera.connected }} for 10min, warninig: {{ app.mysql.galera.cluster_size }} for 1min.
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.galera_ready"
    name: "{{ service.name }}.{{ app.name }}: Galera is not ready"
    targets:
      - "alias(movingMin(seriesByTag('Node={{ node }}', 'name=mysql.wsrep_ready'),'1min'), '{{ node }}.Mysql.Galera.NotReady')"
      - "movingMax(seriesByTag('Node={{ node }}', 'name=mysql.wsrep_ready'),'10min')"
    expression: "t2 != {{ app.mysql.galera.ready }} ? ERROR : (t1 != {{ app.mysql.galera.ready }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}}
    desc: |
      Service: {{service.name}}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Mysql Galera cluster is not ready.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: Unreadiness of a cluster member may lead to data inconsistency and service inoperability.
      Description: Value of wsrep_ready is negative. Error: {{ app.mysql.galera.ready }} for 10min, warninig: {{ app.mysql.galera.ready }} for 1min.
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.galera_primary"
    name: "{{ service.name }}.{{ app.name }}: Galera cluster status"
    targets:
      - "alias(movingMin(seriesByTag('Node={{ node }}', 'name=mysql.wsrep_cluster_status'),'1min'), '{{ node }}.Mysql.Galera.NotPrimary')"
      - "movingMax(seriesByTag('Node={{ node }}', 'name=mysql.wsrep_cluster_status'),'10min')"
    expression: "t2 != {{ app.mysql.galera.status }} ? ERROR : (t1 != {{ app.mysql.galera.status }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}}
    desc: |
      Service: {{service.name}}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Mysql Galera cluster status is not Primary.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: Non primary means the DB is not operational.
      Description: Value of wsrep_cluster_status is negative. Error: {{ app.mysql.galera.status }} for 10min, warninig: {{ app.mysql.galera.status }} for 1min.
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.galera_transactions_errors"
    name: "{{ service.name }}.{{ app.name }}: Galera transactions errors"
    targets:
      - "alias(sumSeries(movingSum(derivative(grep(seriesByTag('Node={{ node }}', 'name=~mysql.wsrep_local_*'),'failures|aborts')),'1min')), '{{ node }}.Galera.TransactionsErrors.1min')"
    expression: "t1 >= {{ app.mysql.galera.max_tr_err_per_minute*5 }} ? ERROR : (t1 >= {{ app.mysql.galera.max_tr_err_per_minute }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_critical_tag) | to_json}}
    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Mysql Galera transactions errors threshold.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: Transactions errors may lead to data inconsistency and service inoperability.
      Description: Sum of values (wsrep_local_cert_failures + wsrep_local_bf_aborts ) has been exceeded the threshold. Error: {{ app.mysql.galera.max_tr_err_per_minute*5 }}, Warninig: {{ app.mysql.galera.max_tr_err_per_minute }}.
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.galera_window"
    name: "{{ service.name }}.{{ app.name }}: Galera window"
    targets:
      - "alias(sumSeries(movingMax(seriesByTag('Node={{ node }}', 'name=~mysql.wsrep_.*_window'),'1min')), '{{ node }}.Galera.Window')"
    expression: "t1 >= {{ app.mysql.galera.max_window*5 }} ? ERROR : (t1 >= {{ app.mysql.galera.max_window }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_critical_tag) | to_json}}
    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Mysql Galera window size threshold.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: Increasing of galera window size may lead to data inconsistency and service inoperability.
      Description: Sum of values (wsrep_commit_window + wsrep_apply_window ) has been exceeded the threshold. Error: {{ app.mysql.galera.max_window*5 }}, Warninig: {{ app.mysql.galera.max_window }}.
    state: {{ state }}

{% endif %}
{% endfor %} # node

{% if app.mysql.galera is defined %}
{# TODO for 3 nodes cluster

alias(movingMin(diffSeries(max(grep(seriesByTag('name=mysql.wsrep_last_committed'),'DB1|DB2|DB3')),min(grep(seriesByTag('name=mysql.wsrep_last_committed'), 'DB1|DB2|DB3'))),'1min'),'Mysql.Galera.last_commited.diff')

#}
{% if app.mysql.galera.cluster_name is defined %}
  - id: "{{ service.name }}.{{ app.mysql.galera.cluster_name}}.{{ app.name }}.last_commited_diff"
    name: "{{ service.name }}.{{ app.mysql.galera.cluster_name}}.{{ app.name }}: Galera last_commited diff threshold"
{% else %}
  - id: "{{ service.name }}.{{ app.name }}.last_commited_diff"
    name: "{{ service.name }}.{{ app.name }}: Galera last_commited diff threshold"
{% endif %}
    targets:
      - "alias(absolute(movingMin(diffSeries(grep(seriesByTag('name=mysql.wsrep_last_committed'),'{{ app.nodes|join('|')}}')),'1min')),'Mysql.Galera.last_commited.diff')"
    expression: "t1 >= {{ app.mysql.galera.max_last_commit_diff*5 }} ? ERROR : (t1 >= {{ app.mysql.galera.max_last_commit_diff }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_critical_tag) | to_json}}
    desc: |
      Service: {{ service.name }}.
      Application: {{ app.name }}.
{% if app.mysql.galera.cluster_name is defined %}
      Cluster: {{ app.mysql.galera.cluster_name}}
{% endif %}

      Event: Mysql Galera window size threshold.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: Increasing of difference between last commits on cluster nodes indicates synchronization problems and may lead to degradation of the service.
      Description: Difference between wsrep_last_committed on cluster nodes has been exceeded the threshold. Error: {{ app.mysql.galera.max_last_commit_diff*5 }}, Warninig: {{ app.mysql.galera.max_last_commit_diff }}.
    state: {{ state }}

{# TODO for 3 nodes cluster

alias(movingMin(diffSeries(max(grep(seriesByTag('name=mysql.wsrep_cluster_conf_id'),'DB1|DB2|DB3')),min(grep(seriesByTag('name=mysql.wsrep_cluster_conf_id'), 'DB1|DB2|DB3'))),'1min'),'Mysql.Galera.ConfDiff')

#}

{% if app.mysql.galera.cluster_name is defined %}
  - id: "{{ service.name }}.{{ app.mysql.galera.cluster_name}}.{{ app.name }}.different_configuration"
    name: "{{ service.name }}.{{ app.mysql.galera.cluster_name}}.{{ app.name }}: Galera different configuration"
{% else %}
  - id: "{{ service.name }}.{{ app.name }}.different_configuration"
    name: "{{ service.name }}.{{ app.name }}: Galera different configuration"
{% endif %}
    targets:
      - "alias(movingMin(diffSeries(grep(seriesByTag('name=mysql.wsrep_cluster_conf_id'),'{{ app.nodes|join('|')}}')),'1min'),'Mysql.Galera.ConfDiff')"
    expression: "t1 != 0 ? ERROR :  OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_critical_tag) | to_json}}
    desc: |
      Service: {{ service.name }}.
      Application: {{ app.name }}.
{% if app.mysql.galera.cluster_name is defined %}
      Cluster: {{ app.mysql.galera.cluster_name}}
{% endif %}

      Event: Mysql Galera different configuration.

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: Cluster configuration must match on all nodes. Otherwise, the cluster will fall apart.
      Description: Difference between wsrep_cluster_conf_id.
    state: {{ state }}

  {# - id: "{{ service.name }}.MySQL.NoData"
    name: "{{ service.name }}.Mysql: No Data"
    targets:
      - "groupByTags(isNonNull(grep(seriesByTag('name=~mysql.*'),'{{ service.nodes|join('|')}}')),'sum','Node')"
    expression: "OK"
    ttl_state: {{ moira_nodata_ttl_state }}
    ttl: {{ moira_nodata_ttl }}
    tags: {{ moira_monitoring_tag | to_json }}
    desc: |
      Service: {{ service.name }}.
      Application: {{ app.name }}.

      Event: Mysql NoData

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: Monitoring cannot work without data.
      Description: No Data for metric groupByTags(grep(seriesByTag('name=~mysql.*'),'{{ service.nodes|join('|')}}'),'count','Node').
    state: {{ state }} #}

{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

export_file: "{{ role_path }}/files/triggers/{{ inventory_file | basename }}/{{ inventory_hostname }}/mysql_triggers.tsv"
