---
 {# Triggers list
TODO

  #}

moira_triggers:

## PGW DEVICE

{% for service in services %}
{% for app in service.apps %}
{% if app.pgw_device is defined %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.Ph_Int"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: Physical Interface State"
    targets:
      - "aliasSub(movingMin(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app','app={{ app.name }}','name=net_stat.devices.device_state_n'),'Node', 'user_name'),'(.*)','&\\\\1'), '5min'),  '.*&\\\\(.*)&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1'){% if app.pgw_device.alias_list is defined %}{% for alias in app.pgw_device.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMin(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=net_stat.devices.device_state_n'),'3min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.pgw_device.short_critical|default(false) %} {{ ( [service.name] + [node] + [app.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [node] + [app.name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Physical Interface is failed.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a Physical Interface can lead to full offline of the PGW service.
      Description: Failed Interface of {{ app.name }} on {{ node }}. WARN means failure of one or a few interface. ERROR means failure of all interfaces.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.Ph_Int_Long"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: Physical Interface Long Failure"
    targets:
      - "aliasSub(movingMin(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=net_stat.devices.device_state_n'),'Node', 'user_name'),'(.*)','&\\\\1'), '15min'),  '.*&\\\\(.*)&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1'){% if app.pgw_device.alias_list is defined %}{% for alias in app.pgw_device.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMax(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=net_stat.devices.device_state_n'),'15min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.pgw_device.long_critical|default(false) %} {{ ( [service.name] + [node] + [app.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [node] + [app.name] + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Physical Interface Long error.
      Duration: 15min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a Physical Interface can lead to full offline of the PGW service.
      Description: Long-time failed Physical Interface of {{ app.name }} on {{ node }}. WARN means failure of one or a few interfaces for 15 minutes. ERROR means failure of all interfaces for 15 minutes.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.Ph_int_Flap"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: Physical Interface Flap"
    targets:
      - "aliasSub(movingSum(aliasSub(aliasByTags(changed(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=net_stat.devices.device_state_n')),'Node', 'user_name'),'(.*)','&\\1&'),'5min'),  '.*\\&(.*)\\&.*', '\\1'){% if app.pgw_device.alias_list is defined %}{% for alias in app.pgw_device.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"

    expression: "t1 > 10 ? ERROR : (t1 > 5 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.pgw_device.flap_critical|default(false) %} {{ ( [service.name] + [node] + [app.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [node] + [app.name] + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Physical Interface flaps.
      Duration: 5min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a Physical Interface  can lead to full offline of the PGW service.
      Description: Several Physical Interface state changes of {{ app.name }} on {{ node }} during last 5 minute. WARN 5 changes. ERROR means 10 changes.
    state: {{ state }}


{% endfor %} # node
{% endif %} # app.pgw_devices
{% endfor %} # app
{% endfor %} # service

## HA ROLE

{% for service in services %}
{% for app in service.apps %}
{% if app.pgw_HA is defined %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{ app.pgw_HA.cluster_name }}.{{ app.name }}.HA_Role_Changed"
    name: "{{ service.name }}.{{ app.pgw_HA.cluster_name }}.{{ app.name }}: HA Role Changed"
    targets:
      - "aliasSub(aliasByTags(changed(grep(seriesByTag('name=core_stat.high_availability.role_n', 'Metrics_type=app', 'app={{ app.name }}'),'{{ app.nodes|join('|')}}')),'Node'),'(.*)','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1.HA_Role')"
    expression: "t1 != 0 ? WARN : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.pgw_ha_role_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [node] + [app.name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Cluster: {{ app.pgw_HA.cluster_name }}.
      Application: {{ app.name }}.

      Event: HA Role Changed

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: HA Role in cluster changed.
      Description: Current Cluster Role of the application is not equal to previous one.
    state: {{ state }}


  - id: "{{ service.name }}.{{ app.pgw_HA.cluster_name }}.{{ app.name }}.HA_Status"
    name: "{{ service.name }}.{{ app.pgw_HA.cluster_name }}.{{ app.name }}: HA Status"
    targets:
      - "alias(sum(grep(seriesByTag('name=core_stat.high_availability.role_n', 'Metrics_type=app', 'app={{ app.name }}'), '({{ app.nodes|join('|')}})')), 'masters count')"
      - "movingMax(sum(grep(seriesByTag('name=core_stat.high_availability.role_n', 'Metrics_type=app', 'app={{ app.name }}'),'({{ app.nodes|join('|')}})')), '1min')"
      - "movingMin(sum(grep(seriesByTag('name=core_stat.high_availability.role_n', 'Metrics_type=app', 'app={{ app.name }}'),'({{ app.nodes|join('|')}})')), '1min')"
    expression: "t2 == 0 || t3 == 2 ? ERROR : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.pgw_ha_role_critical|default(false) %} {{ ( [service.name] + [app.name] + [app.pgw_HA.cluster_name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + [app.pgw_HA.cluster_name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Cluster: {{ app.pgw_HA.cluster_name }}.
      Application: {{ app.name }}.

      Event: 0 or >2 masters in cluster.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Service drops.
      Description:
        Cluster critical condition.
        0 masters mean there is no PGW instance processing traffic.
        2 masters mean both PGWs are trying to process traffic independently (split brain). Packets loss or sessions drops expected.
    state: {{ state }}

{% endfor %} # node
{% endif %} # app.pgw_ha
{% endfor %} # app
{% endfor %} # service


## ip pool

{% for service in services %}
{% for app in service.apps %}
{% if app.pgw_ip_pool is defined and app.pgw_ip_pool not in (0,false) %}

{% for node in app.nodes %}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.IP_pool_utilisation"
    name: "{{ service.name}}.{{node}}.{{ app.name }}: IP pool utilisation"
    targets:
      - "aliasByNode(divideSeriesLists(sortByName(aliasByTags(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'Node={{ node }}', 'name=core_stat.ip_pool.used'), 'pool_name', 'name')),sortByName(aliasByTags(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'Node={{ node }}', 'name=core_stat.ip_pool.size'), 'pool_name', 'name'))),0)"
{#TODO simplier query like lisence trigger#}
    expression: "t1 >={{ app.pgw_ip_pool.warn }} ? WARN : (t1 >={{ app.pgw_ip_pool.err }} ? ERROR : OK)"
    ttl_state: "OK"
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [node] + [app.name] + moira_service_tag + moira_chart_tag + moira_critical_tag) | to_json}}

    desc: |
      Service: {{ service.name }}.
      Application: {{ app.name }}.

      Event: IP pool utilisation excess.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Full IP pool utilisation leads to unability to allocate IP address to subscriber and to register him in network.
      Description: IP pool utilisation has exeeded {{ app.pgw_ip_pool.warn }} threshold.
        Warn condition: utilisation is over {{ app.pgw_ip_pool.warn }}.
        Error condition: utilisation is over {{ app.pgw_ip_pool.err }}.
    state: {{ state }}

{% endfor %} # node
{% endif %} # app.pgw_ip_pool

{% if app.pgw_license is defined and app.pgw_license not in (0,false) %}
{% if app.pgw_license.technical is defined and app.pgw_license.technical not in (0,false) %}

{% for node in app.nodes %}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.tech_license_overload"
    name: "{{ service.name}}.{{node}}.{{ app.name }}: Technical license overload"
    targets:
      - "alias(divideSeries(aliasByTags(seriesByTag('app={{ app.name }}', 'Node={{ node }}', 'name=core_stat.cp_statistics.active_pdn_connections'), 'Node'), aliasByTags(seriesByTag('app={{ app.name }}', 'Node={{ node }}', 'name=applied_config.max_pdn_connections'), 'Node')),'license_utilisation')"
    expression: "t1 >={{ app.pgw_license.technical.warn }} ? WARN : (t1 >={{ app.pgw_license.technical.err }} ? ERROR : OK)"
    ttl_state: "OK"
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [node] + [app.name] + moira_service_tag + moira_chart_tag + moira_critical_tag) | to_json}}

    desc: |
      Service: {{ service.name }}.
      Application: {{ app.name }}.

      Event: Technical license overload.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      {#TODO#}
      {#Impact: Full IP pool utilisation leads to unability to allocate IP address to subscriber and to register him in network.#}
      {#Description: IP pool utilisation has exeeded {{ app.pgw_ip_pool.warn }} threshold.#}
        Warn condition: utilisation is over {{ app.pgw_license.technical.warn }}.
        Error condition: utilisation is over {{ app.pgw_license.technical.err }}.
    state: {{ state }}

{% endfor %} # node
{% endif %} # app.pgw_license.technical


{% if app.pgw_license.commercial is defined and app.pgw_license.commercial not in (0,false) %}

  - id: "{{ service.name }}.{{ app.name }}.comm_license_overload"
    name: "{{ service.name}}.{{ app.name }}: Commercial license overload"
    targets:
    - "alias(scale(sum(seriesByTag('app={{ app.name }}', 'name=core_stat.cp_statistics.active_pdn_connections')), 0.5), 'active_pdn_connections_total/2')"
    expression: "t1 >={{ app.pgw_license.commercial.warn }} ? WARN : (t1 >={{ app.pgw_license.commercial.err }} ? ERROR : OK)"
    ttl_state: "OK"
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_critical_tag) | to_json}}

    desc: |
      Service: {{ service.name }}.
      Application: {{ app.name }}.

      Event: Commercial license overload.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      {#TODO#}
      {#Impact: Full IP pool utilisation leads to unability to allocate IP address to subscriber and to register him in network.#}
      {#Description: IP pool utilisation has exeeded {{ app.pgw_ip_pool.warn }} threshold.#}
        Warn condition: utilisation is over {{ app.pgw_license.commercial.warn }}.
        Error condition: utilisation is over {{ app.pgw_license.commercial.err }}.
    state: {{ state }}

{% endif %} # app.pgw_license.commercial

{% endif %} # app.pgw_license
{% endfor %} # app
{% endfor %} # service


## api status

{% for service in services %}
{% for app in service.apps %}
{% if app.pgw_api_check is defined and app.pgw_api_check not in (0,false) %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.http_api_status"
    name: "{{ service.name}}.{{ node }}.{{ app.name }}: HTTP API Status"
    targets:
      - "alias(movingMax(isNonNull(seriesByTag('Node={{ node }}', 'name=core_stat.high_availability.role_n', 'app={{ app.name }}')),'{{ app.pgw_api_check.window }}'),'API available')"
    expression: "t1 == 0 ? WARN : OK"
    ttl_state: {{ moira_nodata_ttl_state }}
    ttl: 600
    tags: {{ ( [service.name] + [node] + [app.name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json }}

    desc: |
      Service: {{ service.name }}.
      Application: {{ app.name }}.

      Event: Agent was not able to HTTP GET {{ app.name }} API.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: No metrics gathered.
      Description: Metric checked - core_stat.high_availability.role_n.
        Warn condition: {{ app.pgw_api_check.window }} no data from API by specified metric.
        {# Error condition: No Error condition. #}
        {# error means 10m no data from PGW api - not working for now #}

    state: {{ state }}

{% endfor %} # node
{% endif %} # app.pgw_api_check
{% endfor %} # app
{% endfor %} # service


## traffic anomaly


{% for service in services %}
{% for app in service.apps %}
{% if app.pgw_traffic_anomaly is defined and app.pgw_traffic_anomaly not in (0,false) %}
{% for node in app.nodes %}
{# TODO
- variable thresholds
- variable moving windows
- durak check by low line speed check #}

  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.traffic_anomaly_tx_drop"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Traffic anomaly: TX drop"
    targets:
      - "aliasByMetric(movingMax(divideSeriesLists(
          sortByName(aliasByTags(derivative(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'Node={{ node }}', 'name=net_stat.pe.devices.tx_bytes_total')), 'device')),
          sortByName(aliasByTags(movingAverage(derivative(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'Node={{ node }}', 'name=net_stat.pe.devices.tx_bytes_total')), '{{ app.pgw_traffic_anomaly.tx_drop_avg_window }}'), 'device'))
        ), '{{ app.pgw_traffic_anomaly.tx_drop_general_window }}'))"
      - "movingMin(seriesByTag('Node={{ node }}', 'name=core_stat.high_availability.role_n', 'app=Protei_PGW'), '1min')"
    expression: "t2 == 1 && t1 <= 0.75 ? WARN : ( t2 == 1 && t1 <= 0.5 ? ERROR : OK)"
    ttl_state: "OK"
    ttl: {{ moira_system_nodata_ttl }}
    tags: {{ ( [service.name] + [node] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag ) | to_json}}

    desc: |
      Service: {{ service.name }}.
      Cluster: {{ app.pgw_HA.cluster_name }}.
      Application: {{ app.name }}.

      Event: TBD

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: TBD
      Description: TBD
    state: {{ state }}


  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.traffic_anomaly_tx_rise"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Traffic anomaly: TX rise"
    targets:
      - "aliasByMetric(movingMin(divideSeriesLists(
          sortByName(aliasByTags(derivative(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'Node={{ node }}', 'name=net_stat.pe.devices.tx_bytes_total')), 'device')),
          sortByName(aliasByTags(movingAverage(derivative(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'Node={{ node }}', 'name=net_stat.pe.devices.tx_bytes_total')), '{{ app.pgw_traffic_anomaly.tx_rise_avg_window }}'), 'device'))
        ), '{{ app.pgw_traffic_anomaly.tx_rise_general_window }}'))"
      - "movingMin(seriesByTag('Node={{ node }}', 'name=core_stat.high_availability.role_n', 'app=Protei_PGW'), '1min')"
    expression: "t2 == 1 && t1 >= 1.5 ? WARN : ( t2 == 1 && t1 >= 1.8 ? ERROR : OK)"
    ttl_state: "OK"
    ttl: {{ moira_system_nodata_ttl }}
    tags: {{ ( [service.name] + [node] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag ) | to_json}}

    desc: |
      Service: {{ service.name }}.
      Cluster: {{ app.pgw_HA.cluster_name }}.
      Application: {{ app.name }}.

      Event: TBD

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: TBD
      Description: TBD
    state: {{ state }}


  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.traffic_anomaly_rx_drop"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Traffic anomaly: RX drop"
    targets:
      - "aliasByMetric(movingMax(divideSeriesLists(
          sortByName(aliasByTags(derivative(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'Node={{ node }}', 'name=net_stat.pe.devices.rx_bytes_total')), 'device')),
          sortByName(aliasByTags(movingAverage(derivative(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'Node={{ node }}', 'name=net_stat.pe.devices.rx_bytes_total')), '{{ app.pgw_traffic_anomaly.rx_drop_avg_window }}'), 'device'))
        ), '{{ app.pgw_traffic_anomaly.rx_drop_general_window }}'))"
      - "movingMin(seriesByTag('Node={{ node }}', 'name=core_stat.high_availability.role_n', 'app=Protei_PGW'), '1min')"
    expression: "t2 == 1 && t1 <= 0.75 ? WARN : ( t2 == 1 && t1 <= 0.5 ? ERROR : OK)"
    ttl_state: "OK"
    ttl: {{ moira_system_nodata_ttl }}
    tags: {{ ( [service.name] + [node] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag ) | to_json}}

    desc: |
      Service: {{ service.name }}.
      Cluster: {{ app.pgw_HA.cluster_name }}.
      Application: {{ app.name }}.

      Event: TBD

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: TBD
      Description: TBD
    state: {{ state }}


  - id: "{{ service.name }}.{{ node }}.{{ app.name }}.traffic_anomaly_rx_rise"
    name: "{{ service.name }}.{{ node }}.{{ app.name }}: Traffic anomaly: RX rise"
    targets:
      - "aliasByMetric(movingMin(divideSeriesLists(
          sortByName(aliasByTags(derivative(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'Node={{ node }}', 'name=net_stat.pe.devices.rx_bytes_total')), 'device')),
          sortByName(aliasByTags(movingAverage(derivative(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'Node={{ node }}', 'name=net_stat.pe.devices.rx_bytes_total')), '{{ app.pgw_traffic_anomaly.rx_rise_avg_window }}'), 'device'))
        ), '{{ app.pgw_traffic_anomaly.rx_rise_general_window }}'))"
      - "movingMin(seriesByTag('Node={{ node }}', 'name=core_stat.high_availability.role_n', 'app=Protei_PGW'), '1min')"
    expression: "t2 == 1 && t1 >= 1.5 ? WARN : ( t2 == 1 && t1 >= 1.8 ? ERROR : OK)"
    ttl_state: "OK"
    ttl: {{ moira_system_nodata_ttl }}
    tags: {{ ( [service.name] + [node] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag ) | to_json}}

    desc: |
      Service: {{ service.name }}.
      Cluster: {{ app.pgw_HA.cluster_name }}.
      Application: {{ app.name }}.

      Event: TBD

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: TBD
      Description: TBD
    state: {{ state }}


{% endfor %} # node
{% endif %} # app.pgw_traffic_anomaly
{% endfor %} # app
{% endfor %} # service



export_file: "{{ role_path }}/files/triggers/{{ inventory_file | basename }}/{{ inventory_hostname }}/pgw_triggers.tsv"



  {# OLD    - "alias(sum(movingMax(grep(seriesByTag('name=core_stat.high_availability.role_n', 'Metrics_type=app', 'app={{ app.name }}'),'({{ app.nodes|join('|')}})'),'1min')), 'master count')" #}
      {#TODO https://t.me/moira_alert/5192
         - "multiplySeries(grep(seriesByTag('nae=core_stat.high_availability.state_n', 'Metrics_type=app', 'app={{ app.name }}'),'({{ app.nodes|join('|')}})'))"
             expression: "t2 == 1 && t1 != 1 ? ERROR : OK"
         #}

      {# TEST
      - "aliasByTags(changed(seriesByTag('name=core_stat.high_availability.role_n', 'Metrics_type=app', 'app={{ app.name }}', 'Node=~({{ app.nodes|join('|')}})')),'Node') | aliasSub('(.*)','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1.HA_Role_Changed')"
    expression: "t1 != 0 ? WARN : OK"
#}
