---

moira_triggers:

  {% for service in services %}
    {% if service.stats is defined %}

  - id: "{{ service.name }}.statistic.NoData"
    name: "{{ service.name }}.statistic.NoData"
    state: {{ state }}
    targets:
      - "alias(sumSeries(transformNull(movingMax(seriesByTag('Metrics_type=stat', 'name=Statistic.Count'), '30min'), 0)),'TotalRecords')"
    expression: "t1==0 ? ERROR : OK"
    ttl: {{ moira_nodata_ttl }}
    ttl_state: {{ moira_nodata_ttl_state }}
    tags: {{  moira_monitoring_tag | to_json}}
    desc:
      "Service: {{ service.name }}.\n
      Event: Long time no any cdr records.\n\n

      Link to grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}\n
      Impact: Statistics reports, monitoring. Possible traffic problems.\n
      Description: CDR records from one of the servers stopped loading"

      {% for stat in service.stats %}
        {% if stat.stat_keys is defined %}
          {% for key in stat.stat_keys %}
            {% if stat.max is defined %}

  - id: "{{ service.name }}.max.{{stat.type}}.{{ key }}.{{ stat.metric }}"
    name: "{{ service.name }} Max {{ stat.name }} ({{ key }})"
    state: {{ state }}
    targets:
      - "aliasSub(movingMin(aliasByTags(seriesByTag('Metrics_type=stat', 'name=Statistic.{{ stat.metric }}', 'type={{ stat.type }}', 'key={{ key }}'),'type','key'),'{{ stat.max.duration }}'), 'movingMin\\((.*)\\,.*\\)', '\\1')"
      - "sumSeries(movingAverage(seriesByTag('Metrics_type=stat', 'name=Statistic.Count', 'type={{ stat.type }}'),'{{ stat.max.duration }}'))"
    expression: "{% if stat.max.error is defined %} t2 >= {{ stat.when_total_above|default('-9999999') }} && t1 >= {{ stat.max.error }} ? ERROR : {% if stat.max.warn is defined %} ( t2 >= {{ stat.when_total_above|default('-9999999') }} && t1 >= {{ stat.max.warn }} ? WARN: OK) {% else %} OK {% endif %}{% else %}{% if stat.max.warn is defined %} ( t2 >= {{ stat.when_total_above|default('-9999999') }} && t1 >= {{ stat.max.warn }} ? WARN: OK) {% else %} OK {% endif %}{% endif %}"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not stat.stat_critical %} {{ (moira_service_tag + [service.name] + moira_chart_tag + moira_base_tag) | to_json}} {% else %} {{ ( moira_service_tag +[service.name] + moira_chart_tag + moira_critical_tag) | to_json}} {% endif %}

    desc:
      "Service: {{ service.name }}.\n
      Event: {{ stat.name }}.\n\n

      Type: {{ stat.type }}\n
      Key: {{ key }}.\n
      Metric: {{ stat.metric }}.\n
      Duration: {{ stat.max.duration }}.\n\n

      Link to grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}\n
      Impact: {{ stat.impact }}\n
      Description: Value of {{ stat.metric }} ( {{ stat.type }} = {{key}} ) is above the threshold ({% if stat.max.error is defined %} ERROR: {{ stat.max.error }} {%endif%}{%if stat.max.warn is defined %} WARN: {{stat.max.warn}} {% endif %} ) for more than {{ stat.max.duration }}."

            {% endif %} # max
            {% if stat.min is defined %}

  - id: "{{ service.name }}.min.{{stat.type}}.{{ key }}.{{ stat.metric }}"
    name: "{{ service.name }} Min {{ stat.name }} ({{ key }})"
    state: {{ state }}
    targets:
      - "aliasSub(movingMax(aliasByTags(seriesByTag('Metrics_type=stat', 'name=Statistic.{{ stat.metric }}', 'type={{ stat.type }}', 'key={{ key }}'),'type','key'),'{{ stat.min.duration }}'), 'movingMax\\((.*)\\,.*\\)', '\\1')"
      - "sumSeries(movingAverage(seriesByTag('Metrics_type=stat', 'name=Statistic.Count', 'type={{ stat.type }}'),'{{ stat.min.duration }}'))"
    expression: "{% if stat.min.error is defined %} t2 >= {{ stat.when_total_above|default('-9999999') }} && t1 <= {{ stat.min.error }} ? ERROR : {% if stat.min.warn is defined %} ( t2 >= {{ stat.when_total_above|default('-9999999') }} && t1 <= {{ stat.min.warn }} ? WARN: OK) {% else %} OK {% endif %}{% else %}{% if stat.min.warn is defined %} ( t2 >= {{ stat.when_total_above|default('-9999999') }} && t1 <= {{ stat.min.warn }} ? WARN: OK) {% else %} OK {% endif %}{% endif %}"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not stat.stat_critical %} {{ (moira_service_tag + [service.name] + moira_chart_tag + moira_base_tag) | to_json}} {% else %} {{ (moira_service_tag + [service.name] + moira_chart_tag + moira_critical_tag) | to_json}} {% endif %}

    desc:
      "Service: {{ service.name }}.\n
      Event:{{ stat.name }}.\n\n

      Type: {{ stat.type }}.\n
      Key: {{ key }}.\n
      Metric: {{ stat.metric }}.\n
      Duration: {{ stat.min.duration }}.\n\n

      Link to grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}\n
      Impact: {{ stat.impact }}\n
      Description: Value of {{ stat.metric }} ( {{ stat.type }} = {{key}} ) is below the threshold ({% if stat.min.error is defined %} ERROR: {{ stat.min.error }} {%endif%}{%if stat.min.warn is defined %} WARN: {{stat.min.warn}} {% endif %} ) for more than {{ stat.min.duration }}."

            {% endif %} # min
          {% endfor %} # keys
        {% else %}
          {% if stat.max is defined %}

  - id: "{{ service.name }}.max.{{stat.type}}.{{ stat.metric }}"
    name: "{{ service.name }} Max {{ stat.name }}"
    state: {{ state }}
    targets:
      - "aliasSub(movingMin(aliasByTags(seriesByTag('Metrics_type=stat', 'name=Statistic.{{ stat.metric }}', 'type={{ stat.type }}'),'type','key'),'{{ stat.max.duration }}'), 'movingMin\\((.*)\\,.*\\)', '\\1')"
      - "sumSeries(movingAverage(seriesByTag('Metrics_type=stat', 'name=Statistic.Count', 'type={{ stat.type }}'),'{{ stat.max.duration }}'))"
    expression: "{% if stat.max.error is defined %} t2 >= {{ stat.when_total_above|default('-9999999') }} && t1 >= {{ stat.max.error }} ? ERROR : {% if stat.max.warn is defined %} ( t2 >= {{ stat.when_total_above|default('-9999999') }} && t1 >= {{ stat.max.warn }} ? WARN: OK) {% else %} OK {% endif %}{% else %}{% if stat.max.warn is defined %} ( t2 >= {{ stat.when_total_above|default('-9999999') }} && t1 >= {{ stat.max.warn }} ? WARN: OK) {% else %} OK {% endif %}{% endif %}"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not stat.stat_critical %} {{ (moira_service_tag + [service.name] + moira_chart_tag + moira_base_tag) | to_json}} {% else %} {{ (moira_service_tag + [service.name] + moira_chart_tag + moira_critical_tag) | to_json}} {% endif %}

    desc:
      "Service: {{ service.name }}.\n
      Event:{{ stat.name }}.\n\n

      Type: {{ stat.type }}.\n
      Metric: {{ stat.metric }}.\n
      Duration: {{ stat.max.duration }}.\n\n

      Link to grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}\n
      Impact: {{ stat.impact }}\n
      Description: Value of {{ stat.metric }} ( {{ stat.type }} ) is above the threshold ({% if stat.max.error is defined %} ERROR: {{ stat.max.error }} {%endif%}{%if stat.max.warn is defined %} WARN: {{stat.max.warn}} {% endif %} ) for more than {{ stat.max.duration }}."

          {% endif %} # max
          {% if stat.min is defined %}

  - id: "{{ service.name }}.min.{{stat.type}}.{{ stat.metric }}"
    name: "{{ service.name }} Min {{ stat.name }}"
    state: {{ state }}
    targets:
    targets:
      - "aliasSub(movingMax(aliasByTags(seriesByTag('Metrics_type=stat', 'name=Statistic.{{ stat.metric }}', 'type={{ stat.type }}'),'type','key'),'{{ stat.min.duration }}'), 'movingMax\\((.*)\\,.*\\)', '\\1')"
      - "sumSeries(movingAverage(seriesByTag('Metrics_type=stat', 'name=Statistic.Count', 'type={{ stat.type }}'),'{{ stat.min.duration }}'))"
    expression: "{% if stat.min.error is defined %} t2 >= {{ stat.when_total_above|default('-9999999') }} && t1 <= {{ stat.min.error }} ? ERROR : {% if stat.min.warn is defined %} ( t2 >= {{ stat.when_total_above|default('-9999999') }} && t1 <= {{ stat.min.warn }} ? WARN: OK) {% else %} OK {% endif %}{% else %}{% if stat.min.warn is defined %} ( t2 >= {{ stat.when_total_above|default('-9999999') }} && t1 <= {{ stat.min.warn }} ? WARN: OK) {% else %} OK {% endif %}{% endif %}"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not stat.stat_critical %} {{ ( moira_service_tag +[service.name] + moira_chart_tag + moira_base_tag) | to_json}} {% else %} {{ ( moira_service_tag +[service.name] + moira_chart_tag + moira_critical_tag) | to_json}} {% endif %}

    desc:
      "Service: {{ service.name }}.\n
      Event:{{ stat.name }}.\n\n

      Type: {{ stat.type }}.\n
      Metric: {{ stat.metric }}.\n
      Duration: {{ stat.min.duration }}.\n\n

      Link to grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}\n
      Impact: {{ stat.impact }}\n
      Description: Value of {{ stat.metric }} ( {{ stat.type }} ) is below the threshold ({% if stat.min.error is defined %} ERROR: {{ stat.min.error }} {%endif%}{%if stat.min.warn is defined %} WARN: {{stat.min.warn}} {% endif %} ) for more than {{ stat.min.duration }}."

          {% endif %} # min
        {% endif %} # key
      {% endfor %} # stat
    {% endif %} # stat
  {% endfor %} # service

export_file: "{{ role_path }}/files/triggers/{{ inventory_file | basename }}/{{ inventory_hostname }}/stat_triggers.tsv"